absl-py
astunparse
backtrader
beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
frozendict
gast
google-pasta
graphviz
grpcio
h5py
html5lib
idna
joblib
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
multitasking
namex
numpy
opt_einsum
optree
packaging
pandas
peewee
pillow
platformdirs
protobuf
pydot
Pygments
pyparsing
python-dateutil
pytz
requests
rich
scikit-learn
scipy
setuptools
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
webencodings
Werkzeug
wheel
wrapt
yfinance
ta